/** 引入字体文件
* @import "../font/icon/iconfont.css";
* */
@import "./parts/normalize.css";
@import "./bootstrap.min.css";


.navbar{
  min-height: 36px;
  line-height: 36px;
  border-radius:0px;
}
.navbar-nav > li > a{
  padding: 0px;
  /* margin: 0px; */
  line-height: 36px;
}